

/* FONTS H1-H2 BEBAS NEAUVES H3 DOWN POPPINS*/
h1{
    font-family: 'Bebas Neue';
    box-shadow: rgba(255, 232, 31);
    font-size: 100px;
    color: rgba(255, 232, 31);
    display: block;
    padding: 4px;
    margin-left: 3px;
}
h2{
    font-family: 'Bebas Neue';
    font-size: 60px;
    position: relative;
    padding: 4px;
    margin-left: 3px;
    text-align: left;
}
h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
h4{
    font-size: 30px ;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
}
h5{
    font-size: 30px;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
}
h6{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}
p{
    font-size: 16px;
    font-weight: 300px;
    font-family: 'Poppins', sans-serif;
    padding: 4px;
    margin-left: 3px;
    text-align: left;
}
body {
  margin: 0px;
}
/* nav-HEADER*/

li{
  padding: 15px;
  font-size: 16px;
  font-weight: 500px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
.Navigation{
  display: flex;
  vertical-align: top;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  position: relative;
  background-color: #A0ACF2 ;
  height: 70px;
}
.logo{
}
body, button, input {
  letter-spacing: 1px;
}
#primaryNav{
  width: auto;
  padding: 1%;
  margin-left: auto;
  flex-direction: row;
  display: flex;
  vertical-align: top;
  justify-content: space-evenly;
  align-items: flex-end;
  list-style: none;
  float: right;
  color: white;
}
.topNav{
  width: 73%%;
  margin-left: auto;
  vertical-align: top;
  justify-content: space-evenly;
  list-style: none;
  flex-direction: row;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}
.topNav :hover{
  color: #F59836;
  }

.heroImg{
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  bottom:auto
  overflow: hidden;
  position: relative;
  text-align: right;
}
.heroContent{
  position:absolute;
  bottom: 100px;
  text-align: left;
  justify-content: ;
  color: white;
  padding: 20px;
  align-items: 
  align-content: flex-end;
}
.heroContent h4{
  padding: 2px;

}
.heading{
  max-width: 100%;
  padding-top: -5px;
  padding-bottom: 5px;
  align-content: center;
  padding-left: 30px;
}
.heroIMG{
  max-width: 100%;
}
.heroContent h4{
  padding: 2px;

}
.sectionHeading {
  text-align: left;
}
.CaseNav {
  background-color: #A0ACF2;
  text-align: center;
  align-content: center;
  justify-content: center !important;
}
.skillsPics {
  width: 90%;
  padding: 25px;
}
.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  height: calc(100vh - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* FOOTER*/
.quickLinks{
    display: flex;
    flex-direction: row;
    list-style: none; 
    text-align: center;
    align-items: center;
    float: left;
    margin-left: 30px;
    grid-area: quickLinks;
}
.socials{
    display: flex;
    flex-direction: row;
    list-style: none; 
    align-items: right;
    justify-content:flex-end;
    margin-right: 80px;
    cursor: pointer;
}
.footer{
    background-color: #373738;
    padding: 5px;
    height: 95px;
    color: white;
    justify-content: center;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "quickLinks" "socials"
    "copyRight" "copyRight";
}
li{
    padding: 15px;
    font-size: 16px;
    font-weight: 500px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
li :hover{
    color: #F59836;
    transform: scale(1.5);
}
.quickLinks :hover{
    color: #F59836;
    transition: all;
}
}
.socials :hover{
    transform: scale(1.5);
}
.topNav :hover{
  color: #F59836;
  transition: all;
}
.copyRight{
    justify-content: center;
    background-color: black;
    align-content: center;
    color: white;
    text-align: center;
    grid-area: copyRight;
    display: grid;
    margin: 0;
    padding: 5px;
    height: 30px;
}
.copyRight p{
    font-size: 12px;
}
/* HOMEPAGE-BODYCONTENT*/
 
  .jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content{
    padding: 0px;
  }
  .sectionHeading{
    text-align: center;
  }
  .showsNear{
    padding: 0px 30px 30px 30px;
  }
  .valueProp{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nav-link{
    color: white;
    padding: 10px;
    
    display: inline-flex;
  }
  .sectionImage{
    background-image: url(../Images/sections.png);
    max-width: 100%;
  }
  .aboutText p{
  padding: 2px;
  align-items: flex-start;
  text-align: left;
  }
  .imageContainer img{
    width: 100%;
  }
   
    
  }
  .container-fluid content{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .infoHead{
    margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  }
  footer {
    position: absolute;
    width: 100%;
    height: 60px;
   
    background-color: #f5f5f5;
    
  } 
  .cardContainer {
    margin-top: 20px;
    text-align: left;
    object-fit: fill;
  }
  .card {
    margin: 0 auto;
  }
  .flexContainer {
    display: flex;
    padding: 60px 30px;
    margin-top: -60px;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
  }
  .flexContainer {
    display: flex;
    padding: 10px;
    object-fit: fill;
  }
  .flexContainer div {
    width: 33%;
    padding: 25px;
    object-fit: fill;
  }

  .userFlow{
    max-width: -webkit-fill-available;
    object-fit: fill;
  }
  .jumboTron {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flexContainer{
    display: flex;
    text-align: center;
    padding: 20px;
}
/* ABOUT ME SECTION*/
.aboutMe {
    display: flex;
    align-items: center;
     
}
.profileImage{
  margin-left: -15px;
  padding: 10px;
  padding-top: 20px;
  margin-top: -130px;
}
.aboutText{
    margin-right: 15px;
    justify-content: flex-start;
    margin-top: -30px;
    
}
.aboutText h5{
  margin-top: 20px;
  
}
.skillsPics{
  object-fit:cover;

}
.aboutText p{
  margin-top: 20px;
  padding-top: -40px;
}

/* CONTACT US SECTION*/
.contactSection {
  background-color: rgba(255, 232, 31, .40);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-template-areas: 
  "linkUp letsChat"
  "soclink conDeets";
  align-items: center;
  max-height: 200px;
}
.linkUp{
  display: grid;
  list-style: none; 
  align-items: center;
  grid-area: "linkUp";
  list-style: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
}
.letsChat{
  display: grid;
  align-content: center;
  list-style: none; 
  align-items: center;
  grid-area: "letsChat";
  list-style: none;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  display:inline-block ;
}
#soclink{
  display: flex;
  grid-area: "soclink";
  flex-direction: row;
  justify-content: center ;
  align-items: center;
  cursor: pointer;

}
#conDeets{
  display: grid;
  grid-area: "conDeets";
  list-style: none;
  flex-direction: row;
  background-color: rgb;
  margin-top: -10px;
  cursor: pointer;
}
#conDeets p{
  font-family: 'Bebas Neue';
  font-size: 24px;
  margin-top: -10px;
}

/* jquery */

.nav-link :hover{
    color: #F59836;
    opacity: 80%;
}
.socials  :hover{
     transition: all 0s ease 0s;
    transform: scale(1);
    text-size-adjust: 10px;
    }
  
/* jquery */
.nav-item :hover{
color: #F59836;
opacity: 80%;
}
.topNav :hover{
  color: #F59836;
  opacity: 80%;
}
.socials  :hover{
  transition: all 0s ease 0s;
  transform: scale(1.5);
  }
  #soclink  :hover{
    transition: all 0s ease 0s;
    transform: scale(1.5);
    }


/* MEDIA QUERY MOBILE*/
@media only screen and (max-width: 600px){
    .myWork{
        display: flex;
    }
    .myWork p{
        font-size: 15px;
    }
    .workGrid p{
        font-size: 15px;

    }
    .bushFireWRD{
        align-items: center;
        justify-content: flex-end;
        max-width: none;
    }
    #bushCont{
        align-items: flex-end;
    }
    #houseMate{

        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 180px;
        column-gap: 20px;
    }
    #recomondo{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 180px;
        grid-template-areas: 
        "recomondoImg"
        "recomondoImg seeMore" ;
        column-gap: 20px;
        font-size: 
        15px;
    }
    

